{% extends "base.html" %}
{% block content %}
    <h1>Add New Book</h1>
    <form action = "" method = "post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.book_title.label }}<br>
            {{ form.book_title(size = 32) }}
            {% for error in form.book_title.errors %}
                <span style = "color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.book_author.label }}<br>
            {{ form.book_author(size = 32)}}
            {% for error in form.book_author.errors %}
                <span style = "color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.book_genre.label }}<br>
            {{ form.book_genre(class="form-control") }}
            {% for error in form.book_genre.errors %}
            <span style = "color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.book_description.label }}<br>
            {{ form.book_description(cols = 50, rows = 4) }}<br>
            {% for error in form.book_description.errors %}
            <span style = "color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.submit() }}
        </p>
    </form>
{% endblock %}